.subtitle-1 {
  font-size: 18px;
}

.corporate-check {
  display: flex;
  align-items: center;
  background-color: var(--azul-150);
  border-radius: var(--border-radius-chico);
  padding: 0.5rem 1rem;
  width: 100%;
  min-height: 64px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.calc-margin {
  margin-top: calc(2rem - 1.375rem);
}
