.recover-password-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.slice-header > p,
.slice-header > h1,
.slice-header > h3 {
  margin: unset !important;
}
