.sc-section {
  width: 100%;
  display: flex;
}

.sc-responsive-container {
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 0 1rem !important;
}

@media (min-width: 576px) {
  .sc-responsive-container {
    width: 540px;
    max-width: 540px;
    padding: 0 0 !important;
  }
}
@media (min-width: 768px) {
  .sc-responsive-container {
    width: 720px;
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .sc-responsive-container {
    width: 960px;
    max-width: 960px;
  }
}

.body-small {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  min-height: 1.375rem;
  height: fit-content;
  margin: 0;
  width: 100%;
  letter-spacing: 0.9px;
}

.caption {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  min-height: 1rem;
  height: fit-content;
  margin: 0;
  width: 100%;
  letter-spacing: 0.9px;
}

.contenedor {
  border: 1px solid var(--azul-100);
  border-radius: var(--border-radius-grande);
  background-color: var(--blanco-0);
  padding: 1.5rem;
  margin-bottom: 16px;
}

.contenedor.selected {
  border-color: var(--azul-300);
  background-color: var(--azul-50);
}

.subtitle-1,
.subtitle-2 {
  color: var(--gris-700);
  font-size: 20px;
  font-family: 'Circular', sans-serif;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
  width: 100%;
}

.text-secondary {
  color: var(--gris-400);
  font-size: 16px;
  font-family: 'HelveticaNeue';
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  margin: unset !important;
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
}

@media (min-width: 992px) {
  .form-row {
    flex-direction: row;
  }
}
