.cp-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(27, 26, 22, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0.5rem;
}

.cp-modal {
  background-color: var(--blanco-0);
  border: 1px solid var(--gris-200);
  padding: 1.5rem;
  box-shadow: 0px 6px 24px rgba(25, 75, 123, 0.18);
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
  position: relative;
}

.cp-modal-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cp-modal .close > h1 {
  margin: unset;
}

.cp-modal .close > p {
  margin: unset;
}

.cp-modal > *:only-child {
  margin-left: auto;
}

@keyframes slideIn {
  from {
    transform: translateY(100vh); /* Entra desde fuera de la pantalla */
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh); /* Se va completamente hacia abajo */
  }
}

.cp-modal {
  animation: slideIn 0.2s ease-out;
}

.cp-modal.closing {
  animation: slideOut 0.2s ease-in forwards; /* Usa ease-in para que se acelere al salir */
}
